:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffff;
  --additional-bg-color: #2f303a;
  --button-hover-color: #188ce8;
  --grey-bg-color: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--title-text-color);
}
.list,
.footer-list,
.project-title,
.project-text,
.text {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* header */

header,
.navigation,
.list,
.contact-type,
.main-nav {
  display: flex;
}
.main-nav,
.navigation {
  align-items: center;
}
.navigation {
  margin-right: auto;
}
.main-nav {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav-list-item:not(:last-child),
.contact-link-item:not(:last-child) {
  margin-right: 50px;
}

img,
.nav-item {
  display: block;
}
.header-portfolio {
  border-bottom: 1px solid #ececec;
}
.logo,
.nav-item {
  color: var(--title-text-color);
}

.nav.list .link,
.contact-type {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link,
.link {
  text-decoration-line: none;
}
.contact-link {
  color: var(--primary-text-color);
}
.logo-header {
  margin-right: 93px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav.list .link,
.contact-link {
  padding: 32px 0;
}
.nav-item:hover,
.nav-item:focus,
.footer-item.hover:hover,
.footer-item.hover:focus,
.social-media-footer:hover,
.social-media-footer:focus,
.word-web {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.contact-link:hover,
.contact-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.nav-icon:hover {
  fill: currentColor;
}

.nav-item.link.current {
  color: var(--accent-color);
}
.nav-item {
  position: relative;
}
.nav-item.link.current:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
  bottom: 0;
}
/* main */
/* hero */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* button main page */
.order-button {
  margin-bottom: 200px;
}
.order-button,
.submit-button,
.subscription-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--accent-color);
  color: var(--additional-text-color);
  padding: 10px 32px;
}
.order-button:hover,
.order-button:focus,
.submit-button:hover,
.subscription-button:hover,
.submit-button:focus,
.subscription-button:focus {
  background-color: var(--button-hover-color);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--additional-text-color);
}
.button {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}
/* section1 */
.peculiarities > li:not(:last-child) {
  margin-right: 30px;
}
.peculiarities,
.activity-list,
.our-team-list {
  display: flex;
}
.peculiarities > li {
  width: 270px;
  align-items: center;
  justify-items: center;
}

.about-us-title,
.activity-img-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.about-us-text {
  margin-top: 0;
  margin-bottom: 0;
}
.about-us-text,
.footer-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.hidden {
  visibility: hidden;
  position: fixed;
  transform: scale(0);
}
/* section2 */
.activity.section {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.activity-img-title {
  text-transform: uppercase;
  color: var(--additional-text-color);
  margin: 0;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}

.activity-li {
  position: relative;
}

.activity-li:not(:last-child) {
  margin-right: 30px;
}
/* section3 */
.our-team-section {
  margin-right: auto;
  margin-left: auto;
}
.our-team-text {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.list-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.our-team-section {
  background: var(--grey-bg-color);
}
.list-text-item {
  padding: 30px 32px;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-bg-color);
  margin: 0;
}
.our-team-list > li:not(:last-child) {
  margin-right: 30px;
}

/* footer */

.footer.section {
  background-color: var(--additional-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
address {
  display: block;
  font-style: normal;
}
.footer-address {
  margin-top: 20px;
}
.footer-item {
  color: var(--additional-text-color);
}
.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-email,
.footer-ph-numb {
  color: rgba(255, 255, 255, 0.6);
}
.word-studio-footer {
  color: var(--additional-text-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-right {
  margin-left: 70px;
}
.footer-right > .footer-text,
.footer-text {
  color: var(--additional-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form {
  margin-left: 93px;
}

.footer-input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px 15px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-text {
  margin-right: 10px;
}

.div-form,
.subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscription-button {
  padding: 0;
  width: 200px;
  min-height: 50px;
}

/* portfolio */
.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-container:hover .project-overlay {
  transform: translateY(0);
}

.text-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 322px;
  color: var(--additional-text-color);
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.project-decr {
  border: 1px solid #eeeeee;
  border-top: transparent;
  padding: 20px 24px;
}
.flex-container {
  width: 370px;
  background-color: var(--primary-bg-color);
  margin-bottom: 30px;
}
.flex-container.no-margin {
  margin-bottom: 0;
}
.project-list-item {
  margin-right: 30px;
}
.project-list-item:nth-child(3n + 3) {
  margin-right: 0;
}
.flex-container:hover,
.flex-container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* filter-menu */
.filter-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  border: var(--grey-bg-color);
  background-color: var(--grey-bg-color);
  padding: 6px 22px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item:hover,
.filter-item:focus,
.filter-item.current {
  color: var(--additional-text-color);
  background-color: var(--accent-color);
}
.filter-menu {
  margin-bottom: 50px;
}
.filter-menu > li:not(:first-child) {
  margin-left: 8px;
}
/* icons */
.section-icons {
  height: 120px;
  background-color: var(--grey-bg-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  vertical-align: middle;
}

.sites-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.icon-social-media {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.sites-icon-link:hover,
.sites-icon-link:focus {
  background-color: var(--accent-color);
}

.sites-icon-link:hover .icon-social-media,
.sites-icon-link:focus .icon-social-media {
  fill: var(--additional-text-color);
}

ul {
  margin: 0;
  padding: 0;
}
.social-media-list:not(:last-child) {
  margin-right: 10px;
}
.social-media-footer {
  background-color: #44454e;
}

.icon-social-media-footer {
  fill: var(--additional-text-color);
}
.social-media-list.social-media-footer {
  border-radius: 50%;
}
.clients-list-item {
  border: solid 1px #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}
.clients-icon {
  fill: #afb1b8;
  display: flex;
}

.clients-list-item:hover .clients-icon,
.clients-list-item:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-list-item:hover,
.clients-list-item:focus {
  border: solid 1px var(--accent-color);
}
/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}
/* form-modal */

.form-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* CHECKBOX  */

.visually-hidden {
  appearance: none;
  position: absolute;
}
.label {
  display: block;
}
.checkbox-text.label {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  margin-right: 7px;
}
.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  outline: none;
  background-image: url(../img/svg/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}
.checkbox-icon:hover,
.checkbox-icon:focus {
  outline-color: var(--accent-color);
}
.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* CHECKBOX  */

.fields-title {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.feedback {
  padding: 15px 16px;
  color: rgba(117, 117, 117, 0.5);
  height: 120px;
  resize: none;
}
.fields {
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 12px;
  outline: transparent;
}
.block-input-form {
  position: relative;
  display: block;
}

.icon-input {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 25%;
  left: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback {
  outline: transparent;
}
.fields,
.feedback {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-list > .list,
.list > .fields-title {
  display: block;
}
.form-list > .list:not(:last-child) {
  margin-bottom: 10px;
}
.submit-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border: none;
  padding: 0;
}
.modal-button {
  justify-content: center;
  display: flex;
}
.terms-link {
  padding-left: 3px;
  color: var(--accent-color);
}
.terms-link:hover,
.terms-link:focus {
  color: var(--button-hover-color);
}

/* animations */
.nav-item.link,
.link.header-link,
.clients-list-item,
.terms-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-button,
.social-media-footer,
.submit-button,
.subscription-button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sites-icon-link,
.filter-item,
.label {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-container {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-input-form:hover .icon-input,
.block-input-form:focus-within .icon-input {
  fill: var(--accent-color);
}
.fields:hover,
.feedback:hover,
.fields:focus,
.feedback:focus,
.footer-input:hover,
.footer-input:focus {
  outline: 1px solid var(--accent-color);
}
