/* section1 */

.advantages-li {
  width: 270px;
  align-items: center;
  justify-items: center;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: $fweight700;
  font-size: $fsize14;
  line-height: $lheight;
  letter-spacing: $lspace;
  text-transform: uppercase;
  color: $title-text-color;
}
.advantages-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: $fsize14;
  line-height: 1.71;
  letter-spacing: $lspace;
  color: $primary-text-color;
}
.advantages-thumb {
  height: 120px;
  background-color: $grey-bg-color;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
