.clients__link {
  border: solid 1px #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__icon {
  fill: #afb1b8;
  display: flex;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:hover,
.clients__link:focus {
  border: solid 1px var(--accent-color);
}
