/* footer */

.section__footer {
  background-color: var(--additional-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
address {
  display: block;
  font-style: normal;
}
.footer-address {
  margin-top: 20px;
}
.footer-address__link {
  color: var(--additional-text-color);
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-email,
.footer-ph-numb {
  color: rgba(255, 255, 255, 0.6);
}
.word-studio-footer {
  color: var(--additional-text-color);
}
.footer {
  display: flex;
  align-items: baseline;
}
.join-group {
  margin-left: 70px;
}

.footer__text {
  color: var(--additional-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.sub {
  margin-left: 93px;
}

.sub__input {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px 15px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  margin-right: 12px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-btn__text {
  margin-right: 10px;
}

.sub__div,
.sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-button {
  padding: 0;
  width: 200px;
  min-height: 50px;
}
