.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: $fweight900;
    font-size: $fsize44;
    line-height: 1.36;
    text-align: center;
    letter-spacing: $lspacebtn;
    text-transform: uppercase;
    color: $additional-text-color;
  }

  &-button {
    margin-bottom: 200px;
  }
}
