/*Подвал*/

.bg-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}

.logo-white {
  color: $additional-text-color;
}
.white {
  color: #ffffff99;
}
.footer__adress {
  font-style: normal;
  margin-top: 20px;
}
.address-list {
  font-size: $fsize14;
  line-height: 1.71;
  letter-spacing: $lspace;
}

.footer__item {
  margin-bottom: 9px;
  &:last-child {
    margin-bottom: 0;
  }
}

.footer {
  margin-right: 70px;
}

.bg-group {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

/*Фopма футер*/
.send-text {
  font-weight: $fweight700;
  font-size: $fsize14;
  line-height: $lheight;
  letter-spacing: $lspace;
  text-transform: uppercase;
  color: $additional-text-color;

  margin-bottom: 20px;
}

.form-send {
  display: flex;
}
.input-sent {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: $fsize16;
  line-height: 1.25;
  color: $additional-text-color;
  background-color: $additional-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    outline: 0;
    border-color: $additional-text-color;
  }
}

.input-sent::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-send {
  padding: 10px 28px;
  display: flex;
  min-width: 200px;

  margin-left: 12px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: $additional-text-color;

  font-weight: $fweight700;
  font-size: $fsize16;
  line-height: 1.87;

  transition: border-color var(--duration) var(--timing-function);

  border: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.icon-send {
  margin-left: 10px;
}
