/*=======Герой=======*/

.hero {
  padding: 200px 0;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: $fweight900;
  font-size: $fsize44;
  line-height: 1.36;
  text-align: center;
  letter-spacing: $lspacebtn;
  text-transform: uppercase;

  color: $additional-text-color;
  margin-bottom: 30px;
}
