/*Наша команда*/
.section.padding.bg {
  background-color: $grey-bg-color;
}

.team__item {
  background-color: $additional-text-color;

  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.team__group {
  padding-top: 30px;
  padding-bottom: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__title {
  font-size: $fsize16;
  font-weight: $fweight500;
  line-height: 1.18;
  letter-spacing: $lspace;
  text-align: center;
  color: $title-text-color;

  margin-bottom: 10px;
}
.team__text {
  font-size: $fsize16;
  line-height: 1.18;
  letter-spacing: $lspace;
  text-align: center;
  color: $primary-text-color;

  margin-bottom: 16px;
}
