/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  &-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    background: var(--primary-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  &-form-title {
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  &-form-label {
    display: block;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-checkbox-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  &-checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--title-text-color);
    margin-right: 7px;

    &:hover,
    &:focus {
      outline-color: var(--accent-color);
    }
  }

  &-checkbox-input:checked + &-checkbox-icon {
    background-color: var(--accent-color);
    outline: none;
    background-image: url(../img/svg/icon-check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
  }
  &-checkbox-link {
    padding-left: 3px;
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--button-hover-color);
    }
  }

  &-form-label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
  }
  &-form-feedback {
    padding: 15px 16px;
    color: rgba(117, 117, 117, 0.5);
    height: 120px;
    resize: none;
    outline: transparent;
  }
  &-form-input {
    padding-top: 12px;
    padding-left: 42px;
    padding-bottom: 12px;
    outline: transparent;
  }
  &-block-input-form {
    position: relative;
    display: block;

    &:hover .modal-input-icon,
    &:focus-within .modal-input-icon {
      fill: var(--accent-color);
    }
  }
  &-input-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 25%;
    left: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-form-input,
  &-form-feedback {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-button {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    padding: 0;
  }
  &-submit {
    display: flex;
    justify-content: center;
  }

  &-form-input:hover,
  &-form-feedback:hover,
  &-form-input:focus,
  &-form-feedback:focus {
    outline: 1px solid var(--accent-color);
  }
  &-form-li {
    display: block;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-form-feedback {
    outline: transparent;
  }
}
