.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: $fweight700;
    font-size: $fsize36;
    line-height: 1.16;
    text-align: center;
    letter-spacing: $lspace;
    color: $title-text-color;
  }
}
