.sites-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    & .team-sites-icon,
    & .team-sites-icon {
      fill: $additional-text-color;
    }
  }
}

.icon-social-media {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-media-list:not(:last-child) {
  margin-right: 10px;
}
