/*=======Модальное окно - форма======*/

.modal-title {
  display: block;
  font-weight: $fweight700;
  font-size: $fsize20;
  line-height: 1.15;
  letter-spacing: $lspace;

  text-align: center;

  margin-bottom: 12px;
}

.modal-form__group {
  margin-bottom: 10px;
}
.modal-form__label {
  position: relative;
}
.modal-form__data {
  display: block;
  font-size: $fsize12;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: $primary-text-color;

  margin-bottom: 4px;
}
.modal-form__input {
  width: 100%;
  height: 40px;

  padding: 11px 30px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    outline: 0;
    border-color: $accent-color;
    cursor: pointer;
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 1px;
  left: 10px;

  fill: var(--title-text-color);
  transition: fill var(--duration) var(--timing-function);

  .modal-form__input:hover ~ &,
  .modal-form__input:focus ~ & {
    fill: $accent-color;
  }
}

.modal-form-coment {
  margin-bottom: 20px;
}

.coment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: $fsize12;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;

  &:hover,
  &:focus {
    outline: 0;
    border-color: $accent-color;
    cursor: pointer;
  }
  &::placeholder {
    font-size: $fsize14;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
  &:not(:placeholder-shown) {
    color: $title-text-color;
  }
}

textarea {
  resize: none;
}

.modal-form-consent {
  margin-bottom: 30px;
}

.consent {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: $fsize14;
  line-height: 1.71;

  letter-spacing: $lspace;

  color: $primary-text-color;

  transition: background-color var(--duration) var(--timing-function);
}

.modal-form__custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  outline: 2px solid $title-text-color;
  outline-offset: -2px;

  transition: background-color var(--duration) var(--timing-function),
    outline var(--duration) var(--timing-function);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: $accent-color;
  outline: 2px solid $accent-color;
}

.modal-form__check {
  fill: $primary-bg-color;
  opacity: 0;

  transition: opacity var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
}

.modal-form__checkbox:checked
  + .modal-form__custom-checkbox
  .modal-form__check {
  opacity: 1;
}

.modal-form__link {
  color: $accent-color;
  font-size: $fsize14;
  line-height: 1.71;

  letter-spacing: $lspace;
}

.btn-submit {
  min-width: 200px;
  min-height: 50px;

  margin-right: auto;
  margin-left: auto;

  font-weight: $fweight700;
  font-size: $fsize16;
  line-height: 1.87;
  color: $primary-bg-color;

  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: $lspacebtn;

  border: transparent;

  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color var(--duration) var(--timing-function);

  &:hover,
  &:focus {
    background: $button-hover-color;
    cursor: pointer;
  }
}
