/*=======Социфльные иконки======*/
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: var(--primary-white-color);

  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.socials__icon {
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: $additional-text-color;
  }
}

/*========Футер иконки=======*/

.join-group {
  margin-right: auto;
}

.join-group__text {
  font-weight: $fweight700;
  font-size: $fsize14;
  line-height: $lheight;
  letter-spacing: $lspace;
  text-transform: uppercase;
  color: $additional-text-color;

  margin-bottom: 20px;
}

.join-group__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-group__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.join-group__link {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join-group__icom {
  fill: $primary-bg-color;
}
.join-group__link:hover .social-icom,
.join-group__link:focus .social-icom {
  fill: $primary-bg-color;
}
