body {
  font-family: $ffamily;
  color: $title-text-color;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__about {
    padding-top: 0;
  }
}

.nav__item .nav__link--current {
  color: $accent-color;
}

.nav__link.nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
}

.nav__list,
.feature,
.about,
.team {
  display: flex;
  align-items: center;
}

.address:hover,
.address:focus {
  color: $accent-color;
}
.section__title {
  font-size: $fsize36;
  font-weight: $fweight700;
  line-height: 1.16;
  letter-spacing: $lspace;
  text-align: center;

  color: $title-text-color;

  margin-bottom: 50px;
}
