:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --additional-text-color: #ffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffff;
  --additional-bg-color: #2f303a;
  --button-hover-color: #188ce8;
  --grey-bg-color: #f5f4fa;
}
